<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Inicio" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Carousel" href="#">Carousel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Empleados" href="#">Empleados</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>